[submodule "src/terminalgpio"]
	path = src/terminalgpio
	url = https://github.com/collia/terminalgpio.git
[submodule "src/shuttertester"]
	path = src/shuttertester
	url = https://github.com/collia/shuttertester.git
[submodule "src/enlarger_light_controller"]
	path = src/enlarger_light_controller
	url = git@github.com:collia/enlarger_light_controller.git
